<div *ngIf="family && character!==''">
  <h3>Patrikos {{character}}</h3>
  <ul>
    <li><strong>Puoliso:</strong> {{family.spouse}}</li>
    <li><strong>Lapset:</strong> {{family.children}}</li>
    <li><strong>Isä:</strong> {{family.father}}</li>
    <li><strong>Äiti:</strong> {{family.mother}}</li>
    <li><strong>Sisarukset:</strong> {{family.siblings}}</li>
    <li><strong>Sedät:</strong> {{family.uncles}}</li>
    <li><strong>Serkut:</strong> {{family.cousins}}</li>
  </ul>
</div>
