<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img width="400" alt="Kosmikon" src="assets/Klogo-1.png">
</div>
<app-dynastylist></app-dynastylist>
<app-character></app-character>
<app-family></app-family>
