<div *ngIf="character && character.name!==''">
  <h3>{{character.title}} {{character.name}}</h3>
  <ul>
    <li><strong>Ensisijainen arvonimi:</strong> {{character.primarytitle}}</li>
    <li><strong>Toissijaiset arvonimet:</strong> {{character.secondarytitle}}</li>
    <li><strong>Muut arvonimet ja virat:</strong> {{character.othertitles}}</li>
    <li><strong>Maine:</strong> {{character.reputation}}</li>
    <li><strong>Hallitsija:</strong> {{character.liege}}</li>
    <li><strong>Kansallisuus:</strong> {{character.nationality}}</li>
    <li><strong>Dynastia:</strong> {{character.dynasty}}</li>
    <li><strong>Uskonto:</strong> {{character.religion}}</li>
    <li><strong>Järjestö:</strong> {{character.organization}}</li>
    <li><strong>Syntyi:</strong> {{character.birthdate}}</li>
    <li *ngIf="character.alive==false"><strong>Kuoli:</strong> {{character.deathdate}}</li>
  </ul>
</div>
