<div *ngIf="dynastylist">
  <form [formGroup]="dynastySelectForm">
    Valitse dynastia: <select class="form-control" required (change)="getDynasty($event.target.value)">
      <option [value]="">-- Dynastiat --</option>
      <option *ngFor="let dynasty of dynastylist" [value]="dynasty.name">{{dynasty.name}}</option>
    </select>
  </form>
</div>

<div *ngIf="dynasty">
  <h1>Dynastia {{dynasty.name}}</h1>
  <ul>
    <li><strong>Alkuperä:</strong> {{dynasty.age}} {{dynasty.nationality}}</li>
    <li><strong>Kotimaa:</strong> {{dynasty.origin}}</li>
    <li><strong>Uskonto Suuressa skismassa:</strong> {{dynasty.religion}}</li>
    <li><strong>Maine:</strong> {{dynasty.reputation}}</li>
    <li><strong>Uroteko:</strong> {{dynasty.feat}}</li>
    <li><strong>Liittolaiset:</strong> {{dynasty.allies}}</li>
    <li><strong>Viholliset:</strong> {{dynasty.enemies}}</li>
    <li><strong>Vaakuna:</strong> {{dynasty.coatofarms}}</li>
    <li><strong>Motto:</strong> {{dynasty.motto}}</li>
    <li><strong>Lohikäärmemerkki:</strong> {{dynasty.dragonmark}}</li>
    <li><strong>Dynastian päämies:</strong> {{dynasty.currenthead}}</li>
  </ul>
</div>

